# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment files
.env

# Audio files
*.wav

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
.venv/
venv/
env/   

# Cashed html files
*.html